.background    { background-image: url("https://i.pinimg.com/474x/32/2a/89/322a89d16d46f9ba0c65b6dce1f91739.jpg") ;
                 table-layout: repeat;
                 border-spacing: 0;
               }
.background td { padding: 0; }
.lava          { background-image: url("https://i.imgur.com/dcYzAZZ.png"); }
.wall          { background: #241411 ; }
.floater       { background: #E1E3D5 ; }

body{
background-color: #000000;
}

.actor  { position: absolute;  }
.coin   { background-image: url("https://i.imgur.com/uP2KRrv.png"); }
.player { background-image: url("https://i.imgur.com/VWF4r3E.png"); }
.candy { background-image: url("https://i.imgur.com/HVxPric.png"); }
.reset { background: #99003d; }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 550px;
  position: relative;
}

.won .player {
  box-shadow: -4px -7px 8px yellow, 4px -7px 8px yellow;
}
